body {
    min-height: 100vh;
    max-height: 100vh;

    min-width: 100vw;
    max-width: 100vw;
}

main {
    min-height: 100vh;
    max-height: 100vh;

    min-width: 100vw;
    max-width: 100vw;

    display: flex;
    gap: 10px;

    margin: auto;
    align-items: center;
    justify-content: center;
}

#name {
    height: 6vh;
    width: 20vw;
    padding: 0 20px;
}

#search {
    height: 6vh;
    width: auto;
    padding: 0 20px;
}